html{
    background-color: rgb(0, 0, 0);
}
.header-sec{
    font-size: 5rem;
    text-align: center;
    background: url(img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 40rem;
    color: darkgray;

}
h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 253, 241);
}
.containor{
    padding: 2rem;
    align-items: center;
}
.cont-sec{
    background:rgba(131, 42, 42, 0);
    width: 100%;
}
.cont-2{
    display: inline;
    text-align: center;
    background-color: rgb(46, 46, 46);
    color: rgb(0, 0, 0);
    height: 7rem;
}
h2{
    font-family: cursive;
    font-size: 1.6rem;
    color: gold;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: dimgray;
    height: 6rem;
    border-radius: 10px;
    color: ghostwhite;

}
.myprojects{
    background-color: gray;
    height: 6rem;
    border-radius: 10px;
}
.prev-projects{
    background-color: rgb(114, 110, 110);
    border-radius: 20px;
    text-align: center;
}

a{
    display: block;
    color: rgb(0, 0, 0);
}
.site1{
    float: left;
    background-color: darkcyan;
    border-radius: 7px;
    height: 3rem;
    font-weight: bold;
}
.site2{
    float: right;
    background-color: rgb(107, 107, 153);
    border-radius: 7px;
    height: 3rem;
    font-weight: bold;
}
h3{
    font-size: 25px;
    font-family: cursive;
}
.quotes{
    background-color: darkgray;
    text-align: left;
    font-size: 1.4rem;
    border-radius: 10px;

}
.list{
    font-size: 2rem;
    font-family: cursive;

}
li{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    line-height: 2rem;
}
.artists{
    background-color: rgb(128, 128, 128);
    text-align: right;
    font-size: 1rem;
    border-radius: 10px;
}